{% extends "Blog/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<h6>Ingrese apellido de un amigo para buscar:</h6>

<br>
<form action="/Blog/otrabusqueda/"    method="get">{% csrf_token %}
    <input type="text" name="apellido" id="apellido">
    <input type="submit", value="Buscar">
</form>
<br>

<h6>Amigos por apellido y nombre:</h6>
    <ul>
        {%for Amigos in object_list%}
            <p>{{Amigos.apellido}}</p>
            <p>{{Amigos.nombre}}</p>
            <p>
                <a href="{% url 'Detail2' Amigos.id %}">Ver</a>
                <a href="{% url 'Edit2' Amigos.id %}">Editar</a>
                <a href="{% url 'Delete2' Amigos.id %}">Borrar</a>   
            </p>
        {%endfor%}
    </ul>    

{% endblock %}