<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Nombre: {{nombre}}
    Apellido: {{apellido}}
    <br>
    Notas:
    {%for n in notas%}
        {% if n > 8 %}
            NOTA BUENA: {{n}}
        {%else%}
            NOTA MALA: {{n}}
        {%endif%}
        <br>
    {%endfor%}            

</body>
</html>